In [13]:
#Q1
first = input("enter first name: ")
Last = input("enter last name: ")
new1 = first[::-1]
new2 = Last[::-1]
new3 = new1 + new2
print(new3)

enter first name: Maryam
enter last name: Said
 mayraMdiaS

In [23]:
#Q2
integer = int(input("Enter integer:"))
num1 = integer*1
num2 = integer*11
num3= integer*111
print(num1 + num2 + num3)

Enter integer:5
615

In [19]:
#Q3
num = int(input("enter integer: "))
if (num%2)==0:
    print("your number is even ")
else:
    print("your number is odd")

enter integer: 2
your number is even

In [66]:
#Q4
for i in range(2000,3201):
    if (i%7)==0 and i%5!=0:
        print(i, end=" ")

2002 2009 2016 2023 2037 2044 2051 2058 2072 2079 2086 2093 2107 2114 2121 2128 2142 2149 2156 2163 2177 2184 2191 2198 2212 2219 2226 2233 2247 2254 2261 2268 2282 2289 2296 2303 2317 2324 2331 2338 2352 2359 2366 2373 2387 2394 2401 2408 2422 2429 2436 2443 2457 2464 2471 2478 2492 2499 2506 2513 2527 2534 2541 2548 2562 2569 2576 2583 2597 2604 2611 2618 2632 2639 2646 2653 2667 2674 2681 2688 2702 2709 2716 2723 2737 2744 2751 2758 2772 2779 2786 2793 2807 2814 2821 2828 2842 2849 2856 2863 2877 2884 2891 2898 2912 2919 2926 2933 2947 2954 2961 2968 2982 2989 2996 3003 3017 3024 3031 3038 3052 3059 3066 3073 3087 3094 3101 3108 3122 3129 3136 3143 3157 3164 3171 3178 3192 3199

In [43]:
#Q5
num = int(input("enter a number: "))
x=1
for i in range(1,num+1):
    x*=i
print(x)

enter a number: 8
40320

In [ ]:
#Q6
name = input("enter input: ")
last = 0
for i in range(len(name)):
    if i%2==0:

In [61]:
#Q7
price = int(input("enter a value: "))
if price >= 500:
    dis=price*50/100
elif price>=200 and price<500:
    dis=price*30/100
else: 
    dis=price*10/100
print(dis)

enter a value: 50
5.0